name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # خطوة سحرية لإصلاح مشكلة التوافق تلقائياً
      - name: Fix Android Config
        run: |
          cd android
          # تحديث نسخة Gradle إلى 8.10 لتتوافق مع Flutter الحديث
          sed -i 's/gradle-.*-bin.zip/gradle-8.10-all.zip/g' gradle/wrapper/gradle-wrapper.properties
          # تحديث نسخة Kotlin في ملف build.gradle
          sed -i 's/ext.kotlin_version = .*/ext.kotlin_version = "1.9.22"/g' build.gradle
          cd ..

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-android-app
          path: build/app/outputs/flutter-apk/app-release.apk
