name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # تحديث للإصدار 4

      - name: Set up JDK
        uses: actions/setup-java@v4 # تحديث للإصدار 4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - run: flutter pub get
      - run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4 # هذا هو التعديل المطلوب لحل المشكلة
        with:
          name: my-android-app
          path: build/app/outputs/flutter-apk/app-release.apk
